# compiled output
/dist
/node_modules

# logs
npm-debug.log
yarn-error.log
lerna-debug.log

# OS
.DS_Store
Thumbs.db

# env
.env
.env.production
.env.test

# coverage
/coverage

# drizzle
/drizzle

# misc
tsc_errors.txt
lint_log.txt
audit_log.txt
